body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #ebd7af;
}

header {
    background-color: #c7b592;
    padding: 40px 0;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    font-size: 1.0em;
}

nav ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

.intro {
    display: flex;
    justify-content: left;
    align-items: left;
    padding: 160px 50px;
    text-align: center;
    margin-left: 250px; 
}

.intro-text {
    max-width: 1500px;
    margin-bottom: 50px;
    font-size: 8.5em;
}

.intro-text h1 {
    font-size: 5.5em;
    margin: 0;
}

.intro-text h1 .highlight {
    color: #751313;
}

.intro-text h2 {
    font-size: 1em;
    color: #333;
    margin: 10px 0 20px;
    font-weight: 100;
    text-align: left;
    
}

.intro-text button {
    background-color: #751313;
    color: white;
    border: none;
    padding: 20px 120px;
    font-size: 2em;
    cursor: pointer;
    border-radius: 5px;
}

.intro-image {
    margin-left: 200px;
}

.intro-image img {
    width: 400px;
    height: auto;
    border-radius: 50%;
    background-color: #751313;
    padding: 10px;
}



.social-links a img {
    width: 24px;
    height: 24px;
    margin: 0 10px;
    margin-left: 100px;
}

.button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    color: white;
    background-color: #007BFF;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

.button:hover {
    background-color: #0056b3;
}

#skills {
    padding: 60px 0;
    text-align: center;
}

#skills h1 {
    font-size: 40px;
    margin-bottom: 20px;
    font-weight: bold;
}

#skills p {
    font-size: 18px;
    margin-bottom: 40px;
}

.skill {
    margin-bottom: 20px;
}

.skill h3 {
    text-align: left;
    margin-bottom: 10px;
}

.progress-bar {
    background: #c7b592;
    border-radius: 10px;
    overflow: hidden;
}

.progress {
    background: #751313;
    height: 20px;
    border-radius: 10px;
}

section#about {
    background-color: #a89671;
    padding: 20px;
    border-radius: 8px;
}

.intro {
    margin-bottom: 20px;
}

.intro-text {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}

.photo img {
    max-width: 100%;
    height: auto;
    border-radius: 16px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.contact-section {
    text-align: center;
    padding: 60px 20px;
    background-size: cover;
    background-position: center;
}

.contact-section h1 {
    font-size: 2.5em;
    margin-bottom: 20px;
    color: #751313;
}

.contact-section p {
    font-size: 1.2em;
    margin-bottom: 40px;
    color: #751313;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 600px;
    margin: 0 auto;
    background: c7b592;
    padding: 20px;
    box-shadow: 0 2px 4px 751313(0,0,0,0.1);
    border-radius: 8px;
}

form label {
    text-align: left;
    width: 100%;
    margin-bottom: 10px;
    color: #333;
    font-weight: bold;
}

form input,
form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1em;
}

form button {
    display: block;
    width: 100%;
    padding: 10px;
    background: #751313;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1.2em;
    cursor: pointer;
}

form button:hover {
    background: #ac2c2c;
}

footer {
    background-color: #c7b592;
    color: #000000;
    text-align: center;
    padding: 20px;
    background: cabfa9;
    box-shadow: 0 -2px 4px rgba(0,0,0,0.1);
    
}

footer .contact-info {
    margin-bottom: 10px;
}

footer .social-links a img {
    width: 24px;
    height: 24px;
    margin: 0 10px;
}

.project-div{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 3vw;
    margin-left: 3vw;
    margin-right: 3vw;
    margin-top: 10vw;
    margin-bottom: 7vw;
}
.projects{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: c7b592;
    box-shadow: 0.2vw 0.2vw 0.5vw 0.2vw black;
}
.project-foto{
    margin-top: 0.3vw;
    width: 98%;
    height: 17.5vw;
    object-fit: cover;
}
.project-link{
    text-decoration: none;
    color: black;
    font-size: 2vw;
    padding: 0.5vw;
    transition: all 0.7s ;
}
.project-link:hover{
    color: grey;
}

/* css media voor kleinere schermen*/
@media only screen and (max-width: 768px) {
    .project-div{
        grid-template-columns: 1fr;
    }
    .project-foto{
        height: 35vw;
    }
    .project-link{
        font-size: 5vw;
    }
}